.App-header{
  display: grid;
  grid-template-columns: 25% 75%;

  grid-template-areas: 
  "logo     nav"
  "titulo   titulo";
}
.App-logo{
  grid-area: logo;
  height: 40vmin;
  align-items: center;
  
}
.App-nav{
  grid-area: nav;
  display: inline-block;
  height: max-content;
  margin: 0;
}

.App-titulo{
  grid-area: titulo;
  text-align: center;

}
.navbar-expand-lg .navbar-collapse {
 
  flex-direction: row-reverse;
}